<div class="container">
    <h2>Upload File</h2>

    <form enctype="multipart/form-data" method="POST" action="/upload-file">
        <input type="file" accept="image/*" multiple id="file" class="form-control-file border" name="file">

        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>

    {{#if message}}
        <div class="alert alert-success">
            {{message}}
        </div>
    {{/if}}
</div>