<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Thay thế block này bằng 1 block có fragment tên là "head" -->
<head th:replace="layout :: head"></head>
<body>
	<!-- Thay thế block này bằng 1 block có fragment tên là "header" -->
    <nav th:replace="layout :: header"></nav>

    <div class="container">
        <form action="#" th:action="@{/index}" th:object="${employee}" method="POST" >
		    <input type="hidden" th:field="*{id}" />
		    
		    <div class="form-group">
		        <label>Name</label> 
		        <input type="text" class="form-control" th:field="*{name}" />   
		    </div>
		   
		    <div class="form-group">
		        <label>Phone</label> 
		        <input type="text" class="form-control" th:field="*{phone}" />
		    </div>
		    
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
    </div>
</body>
</html>