<div class="wrapper">
  <header>File Uploader JavaScript</header>
  <form action="#">
    <input class="file-input" type="file" name="file" hidden multiple accept="image/*">
    <i class="fas fa-cloud-upload-alt"></i>
    <p>Browse File to Upload</p>
  </form>
  <section class="progress-area"></section>
  <section class="uploaded-area"></section>
</div>

<script src="/js/script.js"></script>