<div class="container">
    <h2>Sign up</h2>

    <form action="/register" method="POST">
        <input type="hidden" name="csrf" value="{{csrf}}">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" placeholder="Enter username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" placeholder="Enter password" id="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    {{#if message}}
        <div class="alert alert-success">
            {{message}}
        </div>
    {{/if}}
</div>

