{{!-- Vì view này không sử dụng bất kỳ layout nào nên phải có code đầy đủ --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View without layout</title>
</head>
<body>
    <h1>This view has no layout</h1>
</body>
</html>